<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		 <title>A Simple Market Place | eBay</title>
		
		<link rel="stylesheet" href="modules/bootstrap/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="modules/bootstrap/dist/css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" href="modules/angular-notification-icons/dist/angular-notification-icons.css"/>
		<link rel='stylesheet' href='css/cart.css'/>
		
		<!--[if lt IE 9]>
			<script src="modules/html5shiv/dist/html5shiv.min.js"></script>
			<script src="modules/respond.js/dest/respond.min.js"></script>
		<![endif]-->
		
		<script src="modules/jquery/dist/jquery.min.js"></script>
		<script src="js/jquery-ui.js"></script>
		<script src="modules/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="modules/angular/angular.min.js"></script>
		<script src="modules/angular-animate/angular-animate.js"></script>
		<script src="modules/ng-focus-if/focusIf.min.js"></script>
		<script src="modules/angular-notification-icons/dist/angular-notification-icons.js"></script>
		
		<script src="ngjs/cart.js"></script>
	</head>
	<body ng-app="eBay" ng-controller="homepage" ng-cloak>
		<div class="container-fluid">
	    	<div class="row">
	        	<div class="col-md-12 full-body">
	                <div class="row top-row">
	                    <div class="col-md-12">
	                        <div class="row">
	                        	<div class="col-md-6 header-item-container">
	                                <div class="row">
	                                	<div class="col-md-12">
	                                		<span ng-hide="user_fname">
	                                			<div class="header-item">Hi! <span ng-click="signinClicked()" class="link">Sign in</span> or <span ng-click="registerClicked()" class="link">register</span></div>
	                                		</span>
		                                	<span ng-show="user_fname">
		                                		<div class="header-item usernameDisplay">Hi <span ng-mouseover="show_user_profile_menu = true"><strong>{{user_fname}}!&nbsp;</strong><span class="glyphicon glyphicon-menu-down"></span></span></div>
		                                		<div id="user_profile_menu" ng-show="show_user_profile_menu" ng-mouseleave="show_user_profile_menu = false" class="user_profile_menu_content" ng-class="{show: show_user_profile_menu}">
		                                			<div class="row user-menu-row link" ng-click="userProfile()">
		                                				<div class="col-md-5 profile-image-bound">
				                							<img src="/images/products/laptop.jpg" class="profile-image">
				                						</div>
				                						<div class="col-md-7 profile-names">
				                							<span>{{user_fname}}&nbsp;{{user_lname}}</span>
				                							<hr class="separator"/>
				                							<span>{{user_name}}</span>
				                						</div>
		                                			</div>
		                                			<hr class="separator"/>
		                                			<div class="row user-menu-row" ng-click="showAccount()">
		                                				<div class="col-md-12 link">My Account</div>
		                                			</div>
		                                			<hr class="separator"/>
		                                			<div class="row user-menu-row link" ng-click="showTransactions()">
		                                				<div class="col-md-12 link">My Transactions</div>
		                                			</div>
		                                			<hr class="separator"/>
		                                			<div class="row user-menu-row link" ng-click="signout()">
		                                				<div class="col-md-12 link">Sign out</div>
		                                			</div>
		                                		</div>
		                                	</span>
		                                    <div class="header-item">Daily Deals</div>
		                                    <div class="header-item">Gift Cards</div>
		                                    <span ng-hide="user_fname"><div class="header-item">Sell</div></span>
		                                    <span ng-show="user_fname"><div class="header-item link" ng-click="sellAnItem()">Sell</div></span>
		                                    <div class="header-item extreme-right">Help &amp; Content</div>
	                                	</div>
	                                </div>
	                            </div>
	                            <div class="col-md-2">
	                                <!-- Temporary Sale Image Goes here-->
	                            </div>
	                            <div class="col-md-4 pull-right right-panel">
	                                <div class="header-item right-panel">My eBay</div>
	                                <notification-icon count='notificationCount' animation='bounce' ng-click="show_notifications = !show_notifications" disappear-animation='fade'>
	                                	<div class="header-item right-panel glyphicon glyphicon-bell"></div>
	                                </notification-icon>
                                	<div id="notifications" ng-show="show_notifications" ng-click="hideNotifications()" class="notifications-window" ng-class="{show: show_notifications}">
                            			<div ng-repeat="notification in notifications">
	                            			<div class="row">
	                            				<div class="col-md-12 notification-detail">
	                            					<div class="detail-item">{{$index + 1}}</div>
			                                		<div class="detail-item">{{notification.notification_text}}</div>
	                            				</div>
	                            			</div>
	                            			<hr class="separator"/>
                            			</div>
                            		</div>
	                                <notification-icon count='cartItemCount' animation='bounce' disappear-animation='fade' ng-click="gotoCart()" class="black-link">
	                                	<div class="header-item right-panel glyphicon glyphicon-shopping-cart"></div>
	                                </notification-icon>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="row middle-body">
	                    <div class="col-md-12">
	                    	<div class="row search-row">
	                        	<div class="col-md-2">
	                            	<div class="row" align="center">
	                                	<div class="ebay-logo img-responsive link" ng-click="homepageClicked()">
		                                </div>
	                                </div>
	                            </div>
	                            <div class="col-md-8">
	                            	<div class="row">
	                                	<input type="text" class="form-control search-bar" ng-model="searchString" focus-if ng-enter="search()"/>
	                                </div>
	                            </div>
	                            <div class="col-md-2">
	                            	<div class="row">
	                                	<div class="col-md-12"><button class="form-control btn btn-primary search-button" ng-click="search()">Search</button></div>
	                                </div>
	                            </div>
	                        </div>
	                        <hr class="separator"/>
	                        
	                        <div class="row success-message" ng-hide="success.length === 0" align="center">
			        			<div class="col-md-12">
			        				<div ng-repeat="message in success">
			        					<div class="row">
			        						<div class="col-md-12">
			        							<span class="alert alert-success">{{message}}</span>
			        						</div>
			        					</div>
			        				</div>
			        			</div>
			        		</div>
	                        
	                        <div class="row">
							    <div class="col-md-1"></div>
							    <div class="col-md-7 cart-box">
							        <div ng-repeat="cart_item in cart_items">
							            <div class="cart-second-box">
							                <div class="cart-header">
							                    <span class="seller-details link" ng-click="showUser(cart_item.user_name)">Seller: @{{cart_item.user_name}}</span>
							                </div>
							                <div class="cart-body row">
							                    <div class="col-md-4">
							                        <span><img src="http://images.anthropologie.com/is/image/Anthropologie/4130256236055_065_b?$an-category$" alt="No image availabe" class="product-image"></span>
							                    </div>
							                    <div class="col-md-8">
							                        <div class="row">
							                            <div class="col-md-6">
							                                <div class="row">
							                                    <div class="col-md-12">
							                                        <span class="product-title link" ng-click="shop(cart_item.sale_id)">{{cart_item.title}}</span>
							                                    </div>
							                                </div>
							                                <div class="row">
							                                    <div class="col-md-12">
							                                        <div class="details">Condition: {{cart_item.condition_name}}</div>
							                                    </div>
							                                </div>
							                                <div class="row">
							                                    <div class="col-md-12">
							                                        <div class="details">Quantity: {{cart_item.cart_qty}}</div>
							                                    </div>
							                                </div>
							                            </div>
							                            <div class="col-md-6">
							                                <span class="product-price"><strong>${{cart_item.sale_price}}</strong></span>
							                            </div>
							                        </div>
							                    </div>
							                    <div class="col-md-12 foot">
							                        <span class="other-details link" ng-click="remove(cart_item.sale_id)">Remove</span>
							                    </div>
							                </div>
							            </div>
							        </div>
							    </div>
							    <div class="col-md-4 cart-summary-box">
							        <div class="cart-summary-title">Cart Summary <span class="item-count">({{cart_items.length}} items)</span></div>
							        <div class="total cart-summary-total">Total : ${{cart_total}}</div>
							        <div>
							        	<button class="btn btn-primary button check-out-button" ng-click="show_checkout = true">Proceed to checkout</button>
							    	</div>
            						<div class="row show_checkout_window" id="checkout_window" ng-show="show_checkout" ng-class="{show: show_checkout}">
									    <div class="col-md-12 payment-box">
									    	<div class="row head-border">
									            <div class="col-md-6" style="display:flex;">
									            	<div class="glyphicon glyphicon-credit-card card-image"></div>
													<div class="heading h4">Credit or debit card</div>
									            </div>
									            <div class="col-md-6">
									            	<img class="credit-card-image" src="https://pbs.twimg.com/profile_images/747394758285365248/XuBsjokt.jpg">
									                <img class="credit-card-image" src="http://frequentmiler.boardingarea.com/wp-content/uploads/2015/09/Discover.jpg">
									                <img class="credit-card-image" src="http://www.pngall.com/wp-content/uploads/2016/07/Mastercard-Download-PNG.png">
									            	<img class="credit-card-image" src="http://www.pittsburghpolicefcu.com/wp/wp-content/uploads/2014/09/visa.jpg">            
									            </div>
									        </div>
									        <div class="row">
									        	<div class="col-md-12">
									        		<div class="row error-message" ng-hide="messages.length === 0" align="center">
									        			<div class="col-md-12">
									        				<div ng-repeat="message in messages">
									        					<div class="row">
									        						<div class="col-md-12">
									        							<span class="alert alert-danger">{{message}}</span>
									        						</div>
									        					</div>
									        				</div>
									        			</div>
									        		</div>
									            	<div class="row payment-box card-details">
									                    <div class="col-md-6">
									                        <div class="row">
									                            <div class="col-md-12 group">     
									                                <input type="text" ng-model="cardNumber" required>
									                                <span class="highlight"></span>
									                                <span class="bar"></span>
									                                <label>Card Number</label>
									                             </div>
									                         </div>
									                     </div>
									                     <div class="col-md-6"></div>
									            	</div>
									            	<div class="row payment-box card-details" style="border:0px;">
									                    <div class="col-md-6">
									                        <div class="row">
									                            <div class="col-md-12 group">     
									                                <input type="text" ng-model="expiryDate" required>
									                                <span class="highlight"></span>
									                                <span class="bar"></span>
									                                <label>Expiration Date</label>
									                             </div>
									                         </div>
									                     </div>
									                     <div class="col-md-6">
									                        <div class="row">
									                            <div class="col-md-12 group">     
									                                <input type="text" ng-model="cvvNumber" required>
									                                <span class="highlight"></span>
									                                <span class="bar"></span>
									                                <label>Security Code</label>
									                             </div>
									                         </div>
									                     </div>
									                </div>
									            	<div class="row payment-box card-details" style="border:0px;">
									                    <div class="col-md-6">
									                        <div class="row">
									                            <div class="col-md-12 group">     
									                                <input type="text" ng-model="card_holder_fname" required>
									                                <span class="highlight"></span>
									                                <span class="bar"></span>
									                                <label>First Name</label>
									                             </div>
									                         </div>
									                     </div>
									                     <div class="col-md-6">
									                        <div class="row">
									                            <div class="col-md-12 group">     
									                                <input type="text" ng-model="card_holder_lname" required>
									                                <span class="highlight"></span>
									                                <span class="bar"></span>
									                                <label>Last Name</label>
									                             </div>
									                         </div>
									                     </div>
									            	</div>
									                <div class="row payment-box card-details" style="border:0px;">
									                    <div class="col-md-12">
									                        <div class="row">
									                         	<div class="billing-address-title">Address</div>
									                        </div>
									                     </div>
									                     <div class="col-md-12">
									                        <div ng-repeat="address in addresses">
									                        	<div class="row billing-address">
										                        	<div class="col-md-12">
											                        	<div ng-repeat="address in addresses">
											                        		<hr class="separator"/>
											                        		<div class="row">
											                        			<div class="col-md-1">
											                        				<input type="radio" name="default_address" value="$index" ng-model="default_address" />
											                        			</div>
											                        			<div class="col-md-11">
																	    			<div class="row">
																	    				{{address.f_name}}&nbsp;{{address.l_name}}	
																	    			</div>
																	    			<div class="row">
																	    				{{address.st_address}}&nbsp;{{address.apt}}
																	    			</div>
																	    			<div class="row">
																	    				{{address.city}}&nbsp;{{address.state}}&nbsp;{{address.zip}}
																	    			</div>
																	    			<div class="row">
																	    				{{address.country}}
																	    			</div>
											                        			</div>
											                        		</div>
														    			</div>
											                        </div>
										                        </div>
									                        </div>
									                     </div>
									            	</div>
									                <div class="row payment-box card-details" style="border:0px;margin-bottom: 15px;">
									                    <div class="col-md-6"></div>
									                    <div class="col-md-6" style="text-align:right;">
									                    	<span class="cancel-button" ng-click="show_checkout = false">Cancel</span>
									                    	<button type="submit" class="btn btn-primary done-button" ng-click="checkout()">Checkout</button>
									                    </div>
									            	</div>
									            </div>
									      	</div>  
									    </div>
									</div>
							    	<div>
							        	<img src="http://ir.ebaystatic.com/pictures/aw/pics/shoppingcart/eMBG_stacked.gif" width="150" height="35" alt="Learn more about eBay Money Back Guarantee">
							    	</div>
							    	<div>
							        	<p class="cart-summary-info">Covers your purchase price plus original shipping on virtually all items. Get the item you ordered or get your money back. <span class="learn-more link">Learn more</span></p>
							    	</div>
								</div>
	                        </div>
	                        <div class="row">
							    <div class="col-md-3"></div>
							    <div class="col-md-5 cart-box" style="margin-top:10px;">
							        <div class="row">
							            <div class="col-md-2"></div>
							            <div class="col-md-10" style="text-align:right;">
							                <div> Subtotal (2 items): ${{cart_total}}</div>
							                <div class="shipping"> Shipping: $0.00</div>
							                <div class="total">Total : ${{cart_total}} </div>
							            </div>
							        </div>
							        <div class="row">
							            <div class="col-md-12">
							                <button type="submit" class="btn btn-primary continue-button" ng-click="homepageClicked()">Continue Shopping</button>
							                <button type="submit" class="btn btn-primary check-out-button" ng-click="show_checkout = true">Proceed to Checkout</button>
							            </div>
							        </div>
							    </div>
							    <div class="col-md-4"></div>
							</div>
	                        
	                        
	                        
	                        
	                        
	                        
	                        
	                        </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>