<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		 <title>A Simple Market Place</title>
		
		<link rel="stylesheet" href="modules/bootstrap/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="modules/bootstrap/dist/css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" href="modules/angular-notification-icons/dist/angular-notification-icons.css"/>
		<link rel='stylesheet' href='css/homepage.css'/>
		
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		
		<script src="js/jquery-ui.js"></script>
		<script src="modules/jquery/dist/jquery.min.js"></script>
		<script src="modules/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="modules/angular/angular.min.js"></script>
		<script src="modules/angular-animate/angular-animate.js"></script>
		<script src="modules/ng-focus-if/focusIf.min.js"></script>
		<script src="modules/angular-notification-icons/dist/angular-notification-icons.js"></script>
		
		<script src="ngjs/homepage.js"></script>
	</head>
	<body ng-app="eBay" ng-controller="homepage" ng-cloak>
		<div class="container-fluid">
	    	<div class="row">
	        	<div class="col-md-12 full-body">
	                <div class="row top-row">
	                    <div class="col-md-12">
	                        <div class="row">
	                        	<div class="col-md-6 header-item-container">
	                                <div class="row">
	                                	<div class="col-md-12">
	                                		<span ng-hide="user_fname">
	                                			<div class="header-item">Hi! <span ng-click="signinClicked()" class="link">Sign in</span> or <span ng-click="registerClicked()" class="link">register</span></div>
	                                		</span>
		                                	<span ng-show="user_fname">
		                                		<div class="header-item usernameDisplay">Hi <span ng-mouseover="show_user_profile_menu = true"><strong>{{user_fname}}!&nbsp;</strong><span class="glyphicon glyphicon-menu-down"></span></span></div>
		                                		<div id="user_profile_menu" ng-show="show_user_profile_menu" ng-mouseleave="show_user_profile_menu = false" class="user_profile_menu_content" ng-class="{show: show_user_profile_menu}">
		                                			<div class="row user-menu-row link" ng-click="userProfile()">
		                                				<div class="col-md-5 profile-image-bound">
				                							<img src="/images/products/laptop.jpg" class="profile-image">
				                						</div>
				                						<div class="col-md-7 profile-names">
				                							<span>{{user_fname}}&nbsp;{{user_lname}}</span>
				                							<hr class="separator"/>
				                							<span>{{user_name}}</span>
				                						</div>
		                                			</div>
		                                			<hr class="separator"/>
		                                			<div class="row user-menu-row" ng-click="showAccount()">
		                                				<div class="col-md-12 link">My Account</div>
		                                			</div>
		                                			<hr class="separator"/>
		                                			<div class="row user-menu-row link" ng-click="showTransactions()">
		                                				<div class="col-md-12 link">My Transactions</div>
		                                			</div>
		                                			<hr class="separator"/>
		                                			<div class="row user-menu-row link" ng-click="signout()">
		                                				<div class="col-md-12 link">Sign out</div>
		                                			</div>
		                                		</div>
		                                	</span>
		                                    <div class="header-item">Daily Deals</div>
		                                    <div class="header-item">Gift Cards</div>
		                                    <span ng-hide="user_fname"><div class="header-item">Sell</div></span>
		                                    <span ng-show="user_fname"><div class="header-item link" ng-click="sellAnItem()">Sell</div></span>
		                                    <div class="header-item extreme-right">Help &amp; Content</div>
	                                	</div>
	                                </div>
	                            </div>
	                            <div class="col-md-2">
	                                <!-- Temporary Sale Image Goes here-->
	                            </div>
	                            <div class="col-md-4 pull-right right-panel">
	                                <div class="header-item right-panel">My eBay</div>
	                                <notification-icon count='notifications' animation='bounce' disappear-animation='fade'>
	                                	<div class="header-item right-panel glyphicon glyphicon-bell"></div>
	                                </notification-icon>
	                                <notification-icon count='cartItemCount' animation='bounce' disappear-animation='fade'>
	                                	<div class="header-item right-panel glyphicon glyphicon-shopping-cart"></div>
	                                </notification-icon>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="row middle-body">
	                    <div class="col-md-12">
	                    	<div class="row search-row">
	                        	<div class="col-md-2">
	                            	<div class="row" align="center">
	                                	<div class="ebay-logo img-responsive link" ng-click="homepageClicked()">
		                                </div>
	                                </div>
	                            </div>
	                            <div class="col-md-8">
	                            	<div class="row">
	                                	<input type="text" class="form-control search-bar" ng-model="searchString" focus-if ng-enter="search()"/>
	                                </div>
	                            </div>
	                            <div class="col-md-2">
	                            	<div class="row">
	                                	<div class="col-md-12"><button class="form-control btn btn-primary search-button" ng-click="search()">Search</button></div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="row" ng-click="hideSignOutMessage()" ng-show="signout_success">
						        <div class="col-md-1"></div>
								<div class="col-md-10 sign-out-box">
						        	<span class="glyphicon glyphicon-ok-sign img"></span>
						            <span class="sign-out-text h3">You've signed out. See you again soon!</span>
						        </div>          
								<div class="col-md-1"></div>
						    </div>
	                        <div ng-hide="!suggestions.length">
	                        	<hr class="separator"/>
		                        <span class="section-title">Suggestions</span>
		                        <hr class="separator"/>
		                        <div class="row suggestion-grid">
		                        	<div ng-repeat="suggestion in suggestions">
		                        		<div class="col-md-3 product-bound suggestion-bound">
		                					<div class="row">
		                						<div class="col-md-12 suggestion-image-bound">
		                							<img src="/images/products/laptop.jpg" class="image-display" ng-click="shop(suggestion.sale_id)">
		                						</div>
		                					</div>
		                					<div class="row text-bound">
		                						<div class="col-md-12">
		                							<div class="row title" ng-click="shop(suggestion.sale_id)">
		                								{{suggestion.title}}
		                							</div>
		                						</div>
		                					</div>
		                				</div>
		                        	</div>
		                        </div>
	                        </div>
	                        <hr class="separator"/>
	                        <div class="row">
	                        	<div class="col-md-12">
	                        		<div ng-hide="items_loaded">
	                        			<div class="col-md-12 warning-message" align="center">
                        					<span class="alert alert-warning">Loading Items...</span>
                        				</div>
	                        		</div>
	                        		<div ng-show="items_loaded">
	                        			<div class="row products-grid" id="search-results">
		                        			<div ng-show="sales.length">
		                        				<div ng-repeat="sale in sales">
			                        				<div class="col-md-6 product-bound">
			                        					<div class="row">
			                        						<div class="col-md-12 image-bound">
			                        							<img src="/images/products/laptop.jpg" class="image-display" ng-click="shop(sale.sale_id)">
			                        						</div>
			                        					</div>
			                        					<div class="row text-bound">
			                        						<div class="col-md-12">
			                        							<div class="row title" ng-click="shop(sale.sale_id)">
			                        								{{sale.title}}
			                        							</div>
			                        							<div class="row other-details">
			                        								<div class="detail-division">
			                        									{{sale.sale_qty}} items
			                        								</div>
			                        								<div class="detail-division">
			                        									by {{sale.user_name}}
			                        								</div>
			                        								<div class="detail-division shop-now link">
			                        									<span ng-click="shop(sale.sale_id)">Shop now</span>
			                        								</div>
			                        							</div>
			                        						</div>
			                        					</div>
			                        				</div>
			                        			</div>
		                        			</div>
		                        			<div ng-hide="sales.length">
		                        				<div class="col-md-12 warning-message" align="center">
		                        					<span class="alert alert-warning">No items to show</span>
		                        				</div>
		                        			</div>
		                        		</div>
	                        		</div>
	                        	</div>
	                        </div>
	                    </div>
	                </div>
	                <div class="row">
						<div class="col-md-12 cover-screen-width">
							<div class="bottom-footbox">
								<p>Copyright &copy; 1995-2016 eBay Inc. All Rights Reserved. User Agreement, Privacy, Cookies and AdChoice</p>
							</div>
						</div>
					</div>
	            </div>
	        </div>
	    </div>
	</body>
</html>