<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A Simple Market Place</title>

	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/homepage.css' />
    <script src="/angularjs/homepage.js"></script>
  </head>
  <body ng-app="eBay" ng-controller="homepage">
	<div class="container-fluid">
    	<div class="row">
        	<div class="col-md-12 full-body">
                <div class="row top-row">
                    <div class="col-md-12 width-10">
                        <div class="row">
                        	<div class="col-md-6 header-item-container">
                                <div class="row">
                                	<div class="col-md-12">
                                		<span ng-hide="user_fname"><div class="header-item">Hi! <span ng-click="signinClicked()" class="link">Sign in</span> or <span ng-click="registerClicked()" class="link">register</span></div></span>
	                                	<span ng-show="user_fname"><div class="header-item usernameDisplay">Hi <span ng-click="userNameClicked()"><strong>{{user_fname}}!&nbsp;&#9207;</strong></span></div></span>
	                                    <div class="header-item">Daily Deals</div>
	                                    <div class="header-item">Gift Cards</div>
	                                    <span ng-hide="user_fname"><div class="header-item">Sell</div></span>
	                                    <span ng-show="user_fname"><div class="header-item link" ng-click="sellAnItem()">Sell</div></span>
	                                    <div class="header-item extreme-right">Help &amp; Content</div>
                                	</div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <!-- Temporary Sale Image Goes here-->
                            </div>
                            <div class="col-md-4 pull-right right-panel">
                                <div class="header-item extreme-right right-panel">My eBay</div>
                                <div class="header-item extreme-right right-panel">Notifications</div>
                                <div class="header-item extreme-right right-panel">Cart</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row middle-body">
                    <div class="col-md-12 width-10">
                    	<div class="row search-row">
                        	<div class="col-md-2">
                            	<div class="row" align="center">
                                	<div class="ebay-logo img-responsive link" ng-click="homepageClicked()">
	                                </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                            	<div class="row">
                                	<input type="text" id="search-bar" class="form-control" ng-model="searchString"/>
                                </div>
                            </div>
                            <div class="col-md-2">
                            	<div class="row">
                                	<div class="col-md-12"><button class="form-control btn btn-primary search-button" ng-click="search()">Search</button></div>
                                </div>
                            </div>
                        </div>
                        <hr class="separator"/>
                        <div class="row">
                        	<div class="col-md-12">
                        		<div class="row products-grid">
                        			<div ng-repeat="sale in sales">
                        				<div class="col-md-6 product-bound">
                        					<div class="row">
                        						<div class="col-md-12 image-bound">
                        							<img src="/images/products/laptop.jpg" class="image-display">
                        						</div>
                        					</div>
                        					<div class="row text-bound">
                        						<div class="col-md-12">
                        							<div class="row title">
                        								{{sale.title}}
                        							</div>
                        							<div class="row other-details">
                        								<div class="detail-division">
                        									{{sale.sale_qty}} items
                        								</div>
                        								<div class="detail-division">
                        									by {{sale.user_name}}
                        								</div>
                        								<div class="detail-division shop-now link">
                        									<span ng-click="shop(sale.sale_id)">Shop now</span>
                        								</div>
                        							</div>
                        						</div>
                        					</div>
                        				</div>
                        			</div>
                        		</div>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>