<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A Simple Market Place</title>

	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/homepage.css' />
    <script src="/angularjs/homepage.js"></script>
  </head>
  <body ng-app="eBay" ng-controller="homepage">
	<div class="container-fluid">
    	<div class="row">
        	<div class="col-md-12 full-body">
                <div class="row top-row">
                    <div class="col-md-12 width-10">
                        <div class="row">
                        	<div class="col-md-6 header-item-container">
                                <div class="row">
                                	<div class="col-md-12">
                                		<span ng-hide="user_fname">
                                			<div class="header-item">Hi! <span ng-click="signinClicked()" class="link">Sign in</span> or <span ng-click="registerClicked()" class="link">register</span></div>
                                		</span>
	                                	<span ng-show="user_fname">
	                                		<div class="header-item usernameDisplay">Hi <span ng-mouseover="show_user_profile_menu = true"><strong>{{user_fname}}!&nbsp;</strong><span class="glyphicon glyphicon-menu-down"></span></span></div>
	                                		<div id="user_profile_menu" ng-show="show_user_profile_menu" ng-mouseleave="show_user_profile_menu = false" class="user_profile_menu_content" ng-class="{show: show_user_profile_menu}">
	                                			<a href="#">Link 1</a>
	                                			<a href="#">Link 2</a>
	                                			<a href="#">Link 3</a>
	                                		</div>
	                                	</span>
	                                    <div class="header-item">Daily Deals</div>
	                                    <div class="header-item">Gift Cards</div>
	                                    <span ng-hide="user_fname"><div class="header-item">Sell</div></span>
	                                    <span ng-show="user_fname"><div class="header-item link" ng-click="sellAnItem()">Sell</div></span>
	                                    <div class="header-item extreme-right">Help &amp; Content</div>
                                	</div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <!-- Temporary Sale Image Goes here-->
                            </div>
                            <div class="col-md-4 pull-right right-panel">
                                <div class="header-item extreme-right right-panel">My eBay</div>
                                <div class="header-item extreme-right right-panel glyphicon glyphicon-bell"></div>
                                <div class="header-item extreme-right right-panel glyphicon glyphicon-shopping-cart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row middle-body">
                    <div class="col-md-12 width-10">
                    	<div class="row search-row">
                        	<div class="col-md-2">
                            	<div class="row" align="center">
                                	<div class="ebay-logo img-responsive link" ng-click="homepageClicked()">
	                                </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                            	<div class="row">
                                	<input type="text" id="search-bar" class="form-control" ng-model="searchString"/>
                                </div>
                            </div>
                            <div class="col-md-2">
                            	<div class="row">
                                	<div class="col-md-12"><button class="form-control btn btn-primary search-button" ng-click="search()">Search</button></div>
                                </div>
                            </div>
                        </div>
                        <div ng-hide="!suggestions.length">
                        	<hr class="separator"/>
	                        <span class="section-title">Suggestions</span>
	                        <hr class="separator"/>
	                        <div class="row suggestion-grid">
	                        	<div ng-repeat="suggestion in suggestions">
	                        		<div class="col-md-3 product-bound suggestion-bound">
	                					<div class="row">
	                						<div class="col-md-12 suggestion-image-bound">
	                							<img src="/images/products/laptop.jpg" class="image-display">
	                						</div>
	                					</div>
	                					<div class="row text-bound">
	                						<div class="col-md-12">
	                							<div class="row title">
	                								{{suggestion.title}}
	                							</div>
	                						</div>
	                					</div>
	                				</div>
	                        	</div>
	                        </div>
                        </div>
                        <hr class="separator"/>
                        <div class="row">
                        	<div class="col-md-12">
                        		<div class="row products-grid" id="products-grid">
                        			<div ng-show="sales.length">
                        				<div ng-repeat="sale in sales">
	                        				<div class="col-md-6 product-bound">
	                        					<div class="row">
	                        						<div class="col-md-12 image-bound">
	                        							<img src="/images/products/laptop.jpg" class="image-display">
	                        						</div>
	                        					</div>
	                        					<div class="row text-bound">
	                        						<div class="col-md-12">
	                        							<div class="row title">
	                        								{{sale.title}}
	                        							</div>
	                        							<div class="row other-details">
	                        								<div class="detail-division">
	                        									{{sale.sale_qty}} items
	                        								</div>
	                        								<div class="detail-division">
	                        									by {{sale.user_name}}
	                        								</div>
	                        								<div class="detail-division shop-now link">
	                        									<span ng-click="shop(sale.sale_id)">Shop now</span>
	                        								</div>
	                        							</div>
	                        						</div>
	                        					</div>
	                        				</div>
	                        			</div>
                        			</div>
                        			<div ng-hide="sales.length">
                        				<div class="col-md-12 warning-message" align="center">
                        					<span class="alert alert-warning">No results matching the search criteria</span>
                        				</div>
                        			</div>
                        		</div>
                        	</div>
                        </div>
                    </div>
                </div>
                <div class="row">
					<div class="col-md-12 cover-screen-width">
						<div class="bottom-footbox">
							<p>Copyright &copy; 1995-2016 eBay Inc. All Rights Reserved. User Agreement, Privacy, Cookies and AdChoice</p>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
  </body>
</html>