<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>eBay</title>
		
		<link rel="stylesheet" href="modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="modules/bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="modules/angular-notification-icons/dist/angular-notification-icons.css"/>
		<link rel='stylesheet' href='css/userProfile.css' />
		
		<!--[if lt IE 9]>
			<script src="modules/html5shiv/dist/html5shiv.min.js"></script>
			<script src="modules/respond.js/dest/respond.min.js"></script>
		<![endif]-->
		
		<script src="modules/jquery/dist/jquery.min.js"></script>
		<script src="js/jquery-ui.js"></script>
		<script src="modules/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="modules/angular/angular.min.js"></script>
		<script src="modules/angular-animate/angular-animate.js"></script>
		<script src="modules/ng-focus-if/focusIf.min.js"></script>
		<script src="modules/angular-sanitize/angular-sanitize.js"></script>
		<script src="modules/angular-notification-icons/dist/angular-notification-icons.js"></script>
		
		<script src="ngjs/userProfile.js"></script>
	</head>
	<body ng-app="eBay" ng-controller="userProfile" ng-cloak>
		<div class="container-fluid">
	    	<div class="row">
	        	<div class="col-md-12 full-body">
	                <div class="row top-row">
	                    <div class="col-md-12">
	                        <div class="row">
	                        	<div class="col-md-6 header-item-container">
	                                <div class="row">
	                                	<div class="col-md-12">
	                                		<span ng-hide="user_fname">
	                                			<div class="header-item">Hi! <span ng-click="signinClicked()" class="link">Sign in</span> or <span ng-click="registerClicked()" class="link">register</span></div>
	                                		</span>
		                                	<span ng-show="user_fname">
		                                		<div class="header-item usernameDisplay">Hi <span ng-mouseover="show_user_profile_menu = true"><strong>{{user_fname}}!&nbsp;</strong><span class="glyphicon glyphicon-menu-down"></span></span></div>
		                                		<div id="user_profile_menu" ng-show="show_user_profile_menu" ng-mouseleave="show_user_profile_menu = false" class="user_profile_menu_content" ng-class="{show: show_user_profile_menu}">
		                                			<div class="row user-menu-row link" ng-click="userProfile()">
		                                				<div class="col-md-5 profile-image-bound">
				                							<img src="/images/products/profile.jpg" class="profile-image">
				                						</div>
				                						<div class="col-md-7 profile-names">
				                							<span>{{user_fname}}&nbsp;{{user_lname}}</span>
				                							<hr class="separator"/>
				                							<span>{{user_name}}</span>
				                						</div>
		                                			</div>
		                                			<hr class="separator"/>
		                                			<div class="row user-menu-row" ng-click="showAccount()">
		                                				<div class="col-md-12 link">My Account</div>
		                                			</div>
		                                			<hr class="separator"/>
		                                			<div class="row user-menu-row link" ng-click="showTransactions()">
		                                				<div class="col-md-12 link">My Transactions</div>
		                                			</div>
		                                			<hr class="separator"/>
		                                			<div class="row user-menu-row link" ng-click="signout()">
		                                				<div class="col-md-12 link">Sign out</div>
		                                			</div>
		                                		</div>
		                                	</span>
		                                    <div class="header-item">Daily Deals</div>
		                                    <div class="header-item">Gift Cards</div>
		                                    <span ng-hide="user_fname"><div class="header-item">Sell</div></span>
		                                    <span ng-show="user_fname"><div class="header-item link" ng-click="sellAnItem()">Sell</div></span>
		                                    <div class="header-item extreme-right">Help &amp; Content</div>
	                                	</div>
	                                </div>
	                            </div>
	                            <div class="col-md-2">
	                                <!-- Temporary Sale Image Goes here-->
	                            </div>
	                            <div class="col-md-4 pull-right right-panel">
	                                <div class="header-item right-panel">My eBay</div>
	                                <notification-icon count='notificationCount' animation='bounce' ng-click="show_notifications = !show_notifications" disappear-animation='fade'>
	                                	<div class="header-item right-panel glyphicon glyphicon-bell"></div>
	                                </notification-icon>
                                	<div id="notifications" ng-show="show_notifications" ng-click="hideNotifications()" class="notifications-window" ng-class="{show: show_notifications}">
                            			<div ng-repeat="notification in notifications">
	                            			<div class="row">
	                            				<div class="col-md-12 notification-detail">
	                            					<div class="detail-item">{{$index + 1}}</div>
			                                		<div class="detail-item">{{notification.notification_text}}</div>
	                            				</div>
	                            			</div>
	                            			<hr class="separator"/>
                            			</div>
                            		</div>
	                                <notification-icon count='cartItemCount' animation='bounce' disappear-animation='fade' ng-click="gotoCart()" class="black-link">
	                                	<div class="header-item right-panel glyphicon glyphicon-shopping-cart"></div>
	                                </notification-icon>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="row middle-body">
	                    <div class="col-md-12">
	                    	<div class="row search-row">
	                        	<div class="col-md-2">
	                            	<div class="row" align="center">
	                                	<div class="ebay-logo img-responsive link" ng-click="homepageClicked()">
		                                </div>
	                                </div>
	                            </div>
	                            <div class="col-md-8">
	                            	<div class="row">
	                                	<input type="text" class="form-control search-bar" ng-model="searchString" focus-if ng-enter="search()"/>
	                                </div>
	                            </div>
	                            <div class="col-md-2">
	                            	<div class="row">
	                                	<div class="col-md-12"><button class="form-control btn btn-primary search-button" ng-click="search()">Search</button></div>
	                                </div>
	                            </div>
	                        </div>
	                        <hr class="separator"/>
	                        <div class="row">
	                        	<div class="col-md-8 col-md-offset-2">
		                        	<div class="card hovercard">
		                        		<div class="card-background">
		                        			<img class="card-bkimg" alt="" src="/images/products/profile.jpg">
		                        		</div>
		                        		<div class="useravatar">
								            <img alt="" src="/images/products/profile.jpg">
								        </div>
								        <div class="card-info">
								        	<span class="card-title">{{fname}} {{lname}}</span>
								        </div>
		                        	</div>
		                        	<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
								        <div class="btn-group" role="group">
								            <button type="button" id="activity" class="btn btn-default" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								                <div class="hidden-xs">Activity</div>
								            </button>
								        </div>
								        <div class="btn-group" role="group">
								            <button type="button" id="personal" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
								                <div class="hidden-xs">Personal</div>
								            </button>
								        </div>
								        <div class="btn-group" role="group">
								            <button type="button" id="location" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
								                <div class="hidden-xs">Address</div>
								            </button>
								        </div>
								    </div>
								    <div class="well">
								    	<div class="tab-content">
								    		<div class="tab-pane fade in active descripion-text" id="tab1">
								    			<div class="row">
								    				<div class="col-md-4">Total Items Sold:</div>
								    				<div class="col-md-4 text-center">{{sold_count}}</div>
								    				<div ng-show="user_name === profile_name">
								    					<div class="col-md-4 text-center link" ng-hide="show_items_sold" ng-click="show_items_sold = true">more</div>
								    					<div class="col-md-4 text-center link" ng-show="show_items_sold" ng-click="show_items_sold = false">less</div>
								    				</div>
								    			</div>
								    			<div class="row" ng-show="show_items_sold">
								    				<div class="col-md-12">
								    					<div ng-repeat="sold_item in sold_items">
								    						<div class="row item">
								    							<div class="col-md-12">
								    								<div class="row item-title">
								    									{{sold_item.title}}
								    								</div>
								    								<div class="row item-detail">
								    									<div class="col-md-6">
								    										Price:
								    									</div>
								    									<div class="col-md-6">
								    										${{sold_item.transaction_price}}
								    									</div>
								    								</div>
								    								<div class="row item-detail">
								    									<div class="col-md-6">
								    										Quantity:
								    									</div>
								    									<div class="col-md-6">
								    										{{sold_item.txn_qty}}
								    									</div>
								    								</div>
								    								<div class="row item-detail">
								    									<div class="col-md-6">
								    										Sold Time:
								    									</div>
								    									<div class="col-md-6">
								    										{{sold_item.txn_time | date:'yyyy-MM-dd HH:mm:ss'}}
								    									</div>
								    								</div>
								    							</div>
								    						</div>
								    					</div>
								    				</div>
								    			</div>
								    			<hr class="details-separator"/>
								    			<div class="row">
								    				<div class="col-md-4">Total Items Bought:</div>
								    				<div class="col-md-4 text-center">{{bought_count}}</div>
								    				<div ng-show="user_name === profile_name">
								    					<div class="col-md-4 text-center link" ng-hide="show_items_bought" ng-click="show_items_bought = true">more</div>
								    					<div class="col-md-4 text-center link" ng-show="show_items_bought" ng-click="show_items_bought = false">less</div>
								    				</div>
								    			</div>
								    			<div class="row" ng-show="show_items_bought">
								    				<div class="col-md-12">
								    					<div ng-repeat="bought_item in bought_items">
								    						<div class="row item">
								    							<div class="col-md-12">
								    								<div class="row item-title">
								    									{{bought_item.title}}
								    								</div>
								    								<div class="row item-detail">
								    									<div class="col-md-6">
								    										Price:
								    									</div>
								    									<div class="col-md-6">
								    										${{bought_item.transaction_price}}
								    									</div>
								    								</div>
								    								<div class="row item-detail">
								    									<div class="col-md-6">
								    										Quantity:
								    									</div>
								    									<div class="col-md-6">
								    										{{bought_item.txn_qty}}
								    									</div>
								    								</div>
								    								<div class="row item-detail">
								    									<div class="col-md-6">
								    										Bought Time:
								    									</div>
								    									<div class="col-md-6">
								    										{{bought_item.txn_time | date:'yyyy-MM-dd HH:mm:ss'}}
								    									</div>
								    								</div>
								    							</div>
								    						</div>
								    					</div>
								    				</div>
								    			</div>
								    			<hr class="details-separator"/>
								    			<div class="row">
								    				<div class="col-md-4">Total Items Currently Selling</div>
								    				<div class="col-md-4 text-center">{{sale_count}}</div>
								    				<div ng-show="user_name === profile_name">
								    					<div class="col-md-4 text-center link" ng-hide="show_items_sale" ng-click="show_items_sale = true">more</div>
								    					<div class="col-md-4 text-center link" ng-show="show_items_sale" ng-click="show_items_sale = false">less</div>
								    				</div>
								    			</div>
								    			<div class="row" ng-show="show_items_sale">
								    				<div class="col-md-12">
								    					<div ng-repeat="sale_item in sale_items">
								    						<div class="row item">
								    							<div class="col-md-12">
								    								<div class="row item-title">
								    									{{sale_item.title}}
								    								</div>
								    								<div class="row item-detail">
								    									<div class="col-md-6">
								    										Price:
								    									</div>
								    									<div class="col-md-6">
								    										<span ng-hide="edit_price">${{sale_item.sale_price}}</span>
								    										<div class="col-md-6" ng-show="edit_price">     
												                                <div class="row">
												                                	<input type="text" class="edit-input" placeholder="${{sale_item.sale_price}}">
												                                </div>
												                            </div>
								    										<span class="link edit-text" ng-hide="edit_price" ng-click="edit_price = true">Edit Price</span>
								    										<span class="link edit-text" ng-show="edit_price" ng-click="edit_price = false">Update</span>
								    									</div>
								    								</div>
								    								<div class="row item-detail">
								    									<div class="col-md-6">
								    										Quantity:
								    									</div>
								    									<div class="col-md-6">
									    									<span ng-hide="add_qty">{{sale_item.sale_qty}}</span>
								    										<div class="col-md-6" ng-show="add_qty">     
												                                <div class="row">
												                                	<input type="text" class="edit-input" placeholder="{{sale_item.sale_qty}}">
												                                </div>
												                            </div>
								    										<span class="link edit-text" ng-hide="add_qty" ng-click="add_qty = true">Add Quantity</span>
								    										<span class="link edit-text" ng-show="add_qty" ng-click="add_qty = false">Update</span>
								    									</div>
								    								</div>
								    								<div class="row item-detail">
								    									<div class="col-md-6">
								    										Sale Time:
								    									</div>
								    									<div class="col-md-6">
								    										{{sale_item.sale_time | date:'yyyy-MM-dd HH:mm:ss'}}
								    									</div>
								    								</div>
								    							</div>
								    						</div>
								    					</div>
								    				</div>
								    			</div>
								    		</div>
								    		<div class="tab-pane fade in descripion-text" id="tab2">
												<div class="row">
								    				<div class="col-md-4">eBay Handle:</div>
								    				<div class="col-md-4 text-center">@{{profile_name}}</div>
								    				<div class="col-md-4"></div>
								    			</div>
								    			<hr class="details-separator"/>
												<div class="row">
								    				<div class="col-md-4">Contact:</div>
								    				<div class="col-md-4 text-center">
								    					<div ng-hide="edit_contact">
								    						{{contact}}
								    					</div>
								    					<div ng-show="edit_contact">
								    						<input type="text" class="form-control" ng-model="contact">
								    					</div>
								    				</div>
								    				<div class="col-md-4 text-center" ng-show="user_name === profile_name">
								    					<div ng-hide="edit_contact">
								    						<button class="btn btn-primary" ng-click="edit_contact = 'true'">Edit</button>
								    					</div>
								    					<div ng-show="edit_contact">
								    						<button class="btn btn-primary" ng-click="updateContact()">Done</button>
								    					</div>
								    				</div>
								    			</div>
								    			<hr class="details-separator"/>
								    			<div class="row">
								    				<div class="col-md-4">Date of Birth:</div>
								    				<div class="col-md-4 text-center">
								    					<div ng-hide="edit_dob">
								    						{{dob | date:'MM-dd-yyyy'}}
								    					</div>
								    					<div ng-show="edit_dob">
								    						<input type="date" class="form-control" ng-model="dob">
								    					</div>
								    				</div>
								    				<div class="col-md-4 text-center" ng-show="user_name === profile_name">
								    					<div ng-hide="edit_dob">
								    						<button class="btn btn-primary" ng-click="edit_dob = 'true'">Edit</button>
								    					</div>
								    					<div ng-show="edit_dob">
								    						<button class="btn btn-primary" ng-click="updateDOB()">Done</button>
								    					</div>
								    				</div>
								    			</div>
									        </div>
									        <div class="tab-pane fade in descripion-text addresses" id="tab3">
								    			<div ng-repeat="address in addresses">
									    			<div class="row">
									    				{{address.f_name}}&nbsp;{{address.l_name}}	
									    			</div>
									    			<div class="row">
									    				{{address.st_address}}&nbsp;{{address.apt}}
									    			</div>
									    			<div class="row">
									    				{{address.city}}&nbsp;{{address.state}}&nbsp;{{address.country}}&nbsp;{{address.zip}}
									    			</div>
									    			<hr class="separator"/>
								    			</div>
								    			<div class="row">
								    				<div class="col-md-12">
								    					<div class="row add-address-button">
								    						<button class="btn btn-primary form-control" ng-click="add_address = true" ng-show="user_name === profile_name">Add an Address</button>
								    					</div>
								    					<div class="row messages" ng-hide="messages.length === 0" align="center">
															<div class="col-md-12">
																<div ng-repeat="message in messages">
																	<div class="row">
																		<div class="col-md-12">
																			<span class="alert alert-warning">{{message}}</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
								    					<div class="row add-address-block" ng-show="add_address">
								    						<div class="col-md-12">
								    							<div class="row">
								    								<div class="col-md-6 group">     
										                                <input type="text" ng-model="street_address" required>
										                                <span class="highlight"></span>
										                                <span class="bar"></span>
										                                <label>Street Address</label>
										                            </div>
										                            <div class="col-md-6 group">     
										                                <input type="text" ng-model="apartment" required>
										                                <span class="highlight"></span>
										                                <span class="bar"></span>
										                                <label>Apartment</label>
										                            </div>
								    							</div>
								    							<div class="row">
								    								<div class="col-md-6 group">     
										                                <input type="text" ng-model="city" required>
										                                <span class="highlight"></span>
										                                <span class="bar"></span>
										                                <label>City</label>
										                            </div>
										                            <div class="col-md-6 group">     
										                                <input type="text" ng-model="state" required>
										                                <span class="highlight"></span>
										                                <span class="bar"></span>
										                                <label>State</label>
										                            </div>
								    							</div>
								    							<div class="row">
								    								<div class="col-md-6 group">     
										                                <input type="text" ng-model="country" required>
										                                <span class="highlight"></span>
										                                <span class="bar"></span>
										                                <label>Country</label>
										                            </div>
										                            <div class="col-md-6 group">     
										                                <input type="text" ng-model="zip_code" required>
										                                <span class="highlight"></span>
										                                <span class="bar"></span>
										                                <label>Zip</label>
										                            </div>
								    							</div>
								    							<div class="row">
								    								<div class="col-md-6 group">
										                                <button class="btn btn-primary form-control" ng-click="addAddress()">Add</button>
										                            </div>
										                            <div class="col-md-6 group">
										                                <button class="btn btn-primary form-control" ng-click="add_address = false; messages = [];">Cancel</button>
										                            </div>
								    							</div>
								    						</div>
								    					</div>
								    				</div>
								    			</div>
								    		</div>
								    	</div>
								    </div>
		                        </div>
	                        </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>