.full-body {
	background:
		url("https://securepics.ebaystatic.com/aw/pics/cmp/ds3/imgbg.jpg")
		repeat 0 0 #F8F8F8;
	font-family: Helvetica neue, Helvetica, Arial, Sans-serif;
	font-size: 14px;
}

a {
	color: #00B7FF;
}

.ebay-icon {
	width: 120px;
	height: 90px;
	margin: auto;
	display: inline-block;
	cursor: pointer;
}

.spacer {
	padding-top: 40px;
}

.box {
	width: 400px;
	display: block;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 30px 0px 100px 0px;
	-webkit-box-shadow: 0 4px 4px 0px #DDDDDD;
	-moz-box-shadow: 0 4px 4px 0px #DDDDDD;
	box-shadow: 0 4px 4px 0px #DDDDDD;
}

.is-forgot-box {
	margin-bottom: 300px;
}

.tabs {
	height: 46px;
	font-size: 18px;
}

.tabs-row {
	height: 46px;
}

.single-tab {
	height: 46px;
	line-height: 46px;
	text-align: left;
}

.tab-icons {
	line-height: 46px;
	padding: 0px 10px 0px 20px;
	color: #BBB; 
}

.tab-texts {
	line-height: 46px;
}

.stay-signed-in {
	float: left;
	text-align: left;
	margin-left: 3px;
}

.stay-signed-in-checkbox {
	transform: scale(1.5);
	cursor: pointer;
}

.forgot-password {
	color: #0654BA;
	cursor: pointer;
	font-size: 13px;
	float: right;
}

.account-info {
	font-size: 13px;
	font-weight: 400;
	text-align: left;
	color: #666;
	margin-top: 5px;
}

.bottom-footbox {
	display: block;
	width: 100%;
	border: 1px solid #ccc;
	background-color: white;
	text-align: center;
	height: 120px;
	font-size: 10px;
	color: #727272;
	bottom: 0;
	padding-top: 50px;
}

.fixed-footbox {
	display: block;
	width: 100%;
	border: 1px solid #ccc;
	background-color: white;
	text-align: center;
	height: 120px;
	font-size: 10px;
	color: #727272;
	bottom: 0;
	padding-top: 50px;
	position: fixed;
}

.inactive {
	background-color: #eeeeee;
	width: 47%;
}

.tab-shadow-right {
	position: absolute;
	width: 6px;
	background-color: #d7d7d7;
	height: 43px;
	margin-top: 5px;
}

.tab-shadow-left {
	position: absolute;
	width: 6px;
	background-color: #d7d7d7;
	height: 43px;
	margin-top: 5px;
	left: -6px;
}

.inactive-tab {
	opacity: .9!important;
	color: #0654BA;
	cursor: pointer;
}

.account-form {
	width: 90%;
	margin: 20px;
}

.account-button {
	font-weight: bold;
	font-size: 16px;
	height: 36px;
	background: -webkit-gradient(linear,left top,left bottom,from(#0079bc),to(#00509d));
}

.account-button:hover {
	background: #00509d;
}

.account-button:active {
	background: #00509d;
}

.account-button:focus {
	background: -webkit-gradient(linear,left top,left bottom,from(#0079bc),to(#00509d));
}

.name-fields {
	width: 177px;
	display: inline-block;
}

.forgot-title {
	float: left;
	margin-bottom: .1em;
}

.forgot-email-label {
	font-weight: 400;
	width: 100%;
	text-align: left;
	margin-bottom: 3px;
	margin-top: 3px;
}

.reset-footbox {
	text-align: center;
	bottom: 120px;
	font-size: 13px;
	position: fixed;
}

.link {
	color: #0654BA;
}

.link:hover {
	text-decoration: underline;
	cursor: pointer;
}

.link-cursor {
	cursor: pointer;
	color: #0654ba;
}

.link-cursor-underline {
	cursor: pointer;
	color: #0654ba;
	text-decoration: underline;
}

.cover-screen-width {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

.clear-space {
	margin-top: 15px;
}

.available {
	color: #00FF00;
	line-height: 34px;
	text-align: left;
	padding: 0px;
}

.unavailable {
	color: #FF0000;
	line-height: 34px;
	text-align: left;
	padding: 0px;
}

.true-false {
	padding: 0px;
	margin: 0px;
	float: left;
	text-align: left;
}